<div class="comments-list">
  <% @comments.take(2).each do |comment| %>
    <div class="comment-content">
      <% if can? :destroy, comment %>
        <%= link_to '&times;'.html_safe, comment, :method => :delete, :confirm => "Estás seguro?", class: "close"  %>
      <% end %>
      <div class="info">
        <%= comment.content %>
      </div>
      <div class="date">
        <%= local_time(comment.created_at, format: "%d/%m/%Y - %I:%M %p") %>
      </div>
    </div>
  <% end %>

  <% if @comments.count > 2 %>
    <div class="show-button-box">
      <%= link_to "Ver más (#{@comments.count - 2})", "#", class: "button", id: "show-comments" %>
    </div>

    <% @comments[2..@comments.count].each do |comment| %>
      <div class="comment-content" style="display: none">
        <% if can? :destroy, comment %>
          <%= link_to '&times;'.html_safe, comment, :method => :delete, :confirm => "Estás seguro?", class: "close"  %>
        <% end %>
        <div class="info">
          <%= comment.content %>
        </div>
        <div class="date">
          <%= local_time(comment.created_at, format: "%d/%m/%Y - %I:%M %p") %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="hide-button-box" style="display: none">
    <%= link_to "Ver menos", "#", class: "button", id: "hide-comments" %>
  </div>
</div>
