
<%= form_for @denouncement, html: { multipart: true } do |f| %>
  <% if @denouncement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@denouncement.errors.count, "error") %> prohibited this denouncement from being saved:</h2>

      <ul>
      <% @denouncement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "4", class: "form-control", required: true %>
  </div>
  <div class="form-group category-form">
    <%= f.label :category_id %>
    <div class="row">
      <% Category.all.each do |c| %>
        <%= image_tag "#{c.name}_38px.png", class: "col-xs-2 img-responsive select_category has-tooltip", id: "#{c.id}", title: t("category.kinds.#{c.name}") %>
      <% end %>
    </div>
  </div>
  <%= f.hidden_field :category_id, class: "form-control", required: true %>
  <div class="form-group">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, class: "form-control", data: { tags: @tags } %>
  </div>
  <div class="form-group">
    <%= f.label :video %>
    <%= f.file_field :video, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  </div>
  <article id="map-canvas">
  </article>
  <div class="submit">
    <%= f.submit "Enviar Denuncia" %>
  </div>
<% end %>
