<div class="container content">
  <div class="row">
    <!-- Complaint list -->
    <section class="col-xs-8">
      <div class="row">
        <header class="header-complaint">
          <%= link_to "Volver", denouncements_path %>
          <h1>Denuncia</h1>
        </header>

        <article class="show-complaint">
          <div class="row">
            <div class="col-xs-2 via <%= @denouncement.category.name %>">
              <%= image_tag "#{@denouncement.via}_62px.png"%>
              <%= image_tag "#{@denouncement.category.name}01_62px.png"%>
            </div>
            <figure class="col-xs-3 image">
              <%= image_tag @denouncement.image %>
            </figure>
            <div class="col-xs-7 title">
              <p><%= @denouncement.title %></p>
            </div>
          </div>
          <div class="row description">
            <div class="col-xs-2"></div>
            <div class="col-xs-10 text">
              <p><%= @denouncement.description %></p>
            </div>
          </div>
          <div class="row date">
            <div class="col-xs-2"></div>
            <div class="col-xs-10 info">
              <p><%= @denouncement.created_at.strftime("%d/%m/%Y - %I:%M %p")%></p>
            </div>
          </div>
          <div class="row status-container">
            <div class="col-xs-2"></div>
            <div class="<%= @denouncement.status %> col-xs-10 status">
              <div class="row">
                <div class="col-xs-7 state-title">
                  <p>Estado de la denuncia:</p>
                </div>
                <div class="col-xs-5 state-text">
                  <div class="box"></div>
                  <p class="state"><%= t("denouncement.status.#{@denouncement.status}") %></p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div>
        <% if can? :destroy, @denouncement %>
          <%= link_to "Eliminar", @denouncement, :method => :delete, :confirm => "Estás seguro?",
          class: "button" %>
        <% end %>
      </div>
      <%= form_for @denouncement, html: { multipart: true } do |f| %>
        <div class="form-group">
          <label>Categoría</label>
          <%= f.collection_select :category_id, Category.all, :id, :translated_category, {selected: @denouncement.category_id}, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :status %>
          <%= select_tag "denouncement[status]", status_for_select(@denouncement.status), class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address %><br>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="submit">
          <%= f.submit "Actualizar Denuncia" %>
        </div>
      <% end %>
    </section>

    <!-- Map and comments -->
    <aside class="col-xs-4">
      <article class="map">
        <%= content_tag :div,
                        nil,
                        id: 'map',
                        data: { latitude: @denouncement.latitude, longitude: @denouncement.longitude } %>
      </article>
      <article class="comments">
        <header class="title">
          <h1>Comentarios</h1>
        </header>
        <% if @comments.blank? %>
          <p>"No existen comentarios en este momento"</p>
        <% else %>
          <%= render "comments/comments" %>
        <% end %>
        <%= render "comments/form" %>
      </article>
    </aside>
  </div>
</div>
