<div class="container content">
  <div class="row">
    <!-- Complaint list -->
    <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <article class="categories">
        <h1>Categorías</h1>
        <div class="categories-filters">
          <%= link_to image_tag("all_44px.png"), denouncements_path %>
          <% Category.all.each do |c| %>
            <%= link_to image_tag("#{c.name}_44px.png"), denouncements_path(c: c.name), rel: "tooltip", title: t("category.kinds.#{c.name}") %>
          <% end %>
        </div>
      </article>

      <header class="complaints">
        <h1>Denuncias recientes</h1>
      </header>

      <% if @denouncements.blank? %>
        <article class="empty_denouncement_results">
          <% if params[:q] %>
            <%= image_tag "search_not_found.png" %>
          <% elsif params[:c] %>
            <%= image_tag "#{params[:c]}_search.png" %>
          <% end %>
        </article>
      <% else %>
        <% @denouncements.each do |denouncement| %>
          <article class="complaint">
            <% if denouncement.category.blank? %>
              <div class="col-xs-2 via other">
                <%= image_tag("#{denouncement.via}_62px.png") %>
                <%= image_tag("other01_62px.png") %>
              </div>
            <% else %>
              <div class="col-xs-2 via <%= denouncement.category.name %>">
                <%= image_tag("#{denouncement.via}_62px.png") %>
                <%= image_tag("#{denouncement.category.name}01_62px.png") %>
              </div>
            <% end %>
            <figure class="col-xs-3 image">
              <% if denouncement.image.blank? %>
                <%= image_tag "empt_image.png" %>
              <% else %>
                <%= image_tag denouncement.image %>
              <% end %>
            </figure>
            <div class="col-xs-7 description">
              <p><%= auto_link(denouncement.title).html_safe %></p>
              <%= link_to "Ver más", denouncement, type: "button", method: :get, class: "more" %>
            </div>
            <div class="row date">
              <div class="col-xs-2"></div>
              <div class="<%= denouncement.status %> col-xs-3 status">
                <div class="box"></div>
                <p class="state"><%= t("denouncement.status.#{denouncement.status}") %></p>
              </div>
              <div class="col-xs-7 info">
                <p><%= local_time(denouncement.created_at, format: "%d/%m/%Y - %I:%M %p") %></p>
              </div>
            <div>
          </article>
        <% end %>
      <% end %>

      <%= paginate @denouncements %>
    </section>

    <!-- Complaint form and twitter -->
    <aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="complaint-form">
        <header>
          <h1>Denuncia aquí</h1>
          <div class="col-xs-12 border-line"></div>
          <div class="col-xs-12 white-line"></div>
        </header>
        <%= render 'form' %>
      </div>
      <div class="twitter row">
        <header>
          <h1>Twitter</h1>
        </header>
        <section class="col-xs-12">
          <% @tweets.each do |tweet| %>
            <article>
              <figure class="col-xs-3">
                <%= image_tag @tweets.first.user.profile_image_url %>
              </figure>
              <%= link_to "@#{tweet.user.name}", "http://twitter.com/#{tweet.user.name}", class: "title"%>
              <div class="col-xs-9 info">
                <p><%= auto_link(tweet.text).html_safe %></p>
                <p><%= local_time(tweet.created_at, format: "%d/%m/%Y - %I:%M %p") %></p>
              </div>
            </article>
          <% end %>
        </section>
      </div>
    </aside>
  </div>
</div>
