<div class="container content">
  <div class="row">
    <!-- Complaint list -->
    <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="row">
        <header class="header-complaint">
          <%= link_to "Volver", denouncements_path %>
          <h1>Denuncia</h1>
        </header>

        <article class="show-complaint">
          <div class="row">
            <% if @denouncement.category.blank? %>
              <div class="col-xs-2 via other">
                <%= image_tag "#{@denouncement.via}_62px.png"%>
                <%= image_tag "#other01_62px.png"%>
              </div>
            <% else %>
              <div class="col-xs-2 via <%= @denouncement.category.name %>">
                <%= image_tag "#{@denouncement.via}_62px.png"%>
                <%= image_tag "#{@denouncement.category.name}01_62px.png"%>
              </div>
            <% end %>
            <figure class="col-xs-3 image">
              <% if @denouncement.image.blank? %>
                <%= image_tag "empt_image.png" %>
              <% else %>
                <%= image_tag @denouncement.image %>
              <% end %>
            </figure>
            <div class="col-xs-7 title">
              <p><%= auto_link(@denouncement.title).html_safe %></p>
            </div>
          </div>
          <% unless @denouncement.via == Denouncement::TWITTER %>
            <div class="row description">
              <div class="col-xs-2"></div>
              <div class="col-xs-10 text">
                <p><%= auto_link(@denouncement.description).html_safe %></p>
                <% unless @denouncement.video.blank? %>
                  <%= video_tag @denouncement.video, :size => "400x240", :controls => true %>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="row date">
            <div class="col-xs-2"></div>
            <div class="col-xs-10 info">
              <p><%= local_time(@denouncement.created_at, format: "%d/%m/%Y - %I:%M %p")%></p>
            </div>
          </div>
          <div class="row status-container">
            <div class="col-xs-2"></div>
            <div class="<%= @denouncement.status %> col-xs-10 status">
              <div class="row">
                <div class="col-xs-7 state-title">
                  <p>Estado de la denuncia:</p>
                </div>
                <div class="col-xs-5 state-text">
                  <div class="box"></div>
                  <p class="state"><%= t("denouncement.status.#{@denouncement.status}") %></p>
                </div>
              </div>
              <div class="row social_share">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= denouncement_url %>" data-via="misdenuncias" data-lang="es" data-text="<%= @denouncement.title %>">Tweet</a>
                <div class="fb-share-button" data-href="<%= denouncement_url %>" data-type="button_count"></div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div>
        <% if can? :update, @denouncement %>
          <%= link_to "Editar", edit_denouncement_path(@denouncement), class: "button"  %>
        <% end %>
        <% if can? :destroy, @denouncement %>
          <%= link_to "Eliminar", @denouncement, :method => :delete, :confirm => "Estás seguro?", class: "button"  %>
        <% end %>
      </div>
    </section>

    <!-- Map and comments -->
    <aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <article class="map">
        <%= content_tag :div,
                        nil,
                        id: 'map',
                        data: { latitude: @denouncement.latitude, longitude: @denouncement.longitude } %>
      </article>
      <article class="comments">
        <header class="title">
          <h1>Comentarios</h1>
        </header>
        <% if @comments.blank? %>
          <p>"No existen comentarios en este momento"</p>
        <% else %>
          <%= render "comments/comments" %>
        <% end %>
        <%= render "comments/form" %>
      </article>
    </aside>
  </div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=121365964645022";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
