
<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
</div>
<div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div class="text-center"><%= f.submit "Iniciar Sesión", class: "button" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
</div>