
@black:     black;
@white:     white;
@lightGray: #d8d8d8;
@grey:      #cfcfcf;
@darkGray:  #a5a4a4;
@darkestGray: #525252;
@blue:      #14b8b8;
@mediumBlue:#476D88;
@darkBlue:  #093a4c;
@green:     #34826a;
@red:       #cd332d;
@yellow:    #f7941e;
@brown:     #7f4833;

@inputSubmitFontSize: 12px;
@inputTextFontSize: 11px;
@pagerFontSize: 11px;
@articleTitleFontSize: 12px;
@descriptionFontSize: 13px;
@baseFontSize: 12px;
@titleFontSize: 30px;
@dateFontSize: 9px;
@footerSocialFontSize: 22px;
@complaintTitleFontSize: 19px;
@complaintTextFontSize: 15px;

html{
  height: 100%;
}

body {
  overflow-x: hidden;
  font-size: @baseFontSize;
  font-family: Verdana, sans-serif;
  margin:0;
  padding:0;
  min-height: 100%;
  position: relative;
}

header.main {
  border-bottom: 5px solid @lightGray;
  background: image-url("city.png") no-repeat bottom right;
  background-color: @darkGray;
  height: 100px;

  .logo-header {
    margin-top: 20px;
  }
}

.wrap {
  min-height:100%;
  padding-bottom: 200px;
}

.content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.categories-filters {
  a {
    cursor: pointer;
  }
}

.categories h1,
.complaints h1,
.complaint-form header h1,
.twitter h1 {
  background-color: @darkGray;
  text-transform: uppercase;
  color: @white;
  font-size: @articleTitleFontSize;
  padding: 5px 30px;
}

.via {
  text-align: center;
  padding: 5px;

  img:first-child {
    padding-bottom: 5px;
  }

  &.theft {
    background-color: @red;
  }

  &.traffic {
    background-color: @darkBlue;
  }

  &.other {
    background-color: @yellow;
  }

  &.parking {
    background-color: @brown;
  }

  &.pollution {
    background-color: @green;
  }

  &.supply {
    background-color: @mediumBlue;
  }
}

.complaint, .status-container {
  margin-top: 20px;
  margin-bottom: 52px;

  .image {
    min-height: 139px;
    background-color: @darkGray;
    padding:0;

    img {
      max-width:  187px;
      max-height: 139px;
    }
  }

  .description {
    background-color: @darkGray;
    color: @white;
    padding: 15px 40px 5px;
    text-align: center;
    font-size: @descriptionFontSize;
    min-height: 139px;

    p {
      margin-bottom: 35px;
    }

    a {
      color: @white;
      &.more {
        padding: 3px 7px;
        cursor: pointer;
        .border-radius(5px);
        background-color: @blue;
        color: @white;
        border:0;
        font-size: @pagerFontSize;
        position: absolute;
        bottom: 10px;
        right: 20px;
      }
    }
  }

  .date {
    clear: both;
    text-align: right;
    color: @darkGray;
    width: 100%;
    margin:0;
    font-size: @pagerFontSize;

    .info {
      padding: 8px 15px 0;
      background-color: @lightGray;
      font-size: @dateFontSize;
      font-weight: bold;
    }

    .status {
      padding-top: 5px;
      background-color: @lightGray;
      text-align: center;
    }

    .state {
      font-weight: bold;
      text-transform: uppercase;
      display: inline-block;
    }

    .open {
      color: @red;

      .box {
        .circle(@red, 3px, 5px, 3px);
      }
    }

    .scaling {
      color: @darkBlue;

      .box {
        .circle(@darkBlue, 3px, 5px, 3px);
      }
    }

    .in_progress {
      color: @yellow;

      .box {
        .circle(@yellow, 3px, 5px, 3px);
      }
    }

    .rejected {
      color: @darkGray;

      .box {
        .circle(@darkGray, 3px, 5px, 3px);
      }
    }

    .closed {
      color: @green;

      .box {
        .circle(@green, 3px, 5px, 3px);
      }
    }
  }
}

.complaint-form {
  background-color: @lightGray;
  color: @darkGray;

  h1 {
    margin-bottom: 0;
  }

  form {
    padding: 40px 30px;

    label {
      text-transform: uppercase;
    }
    
    input[type=text], textarea {
      background-color: @darkGray;
      color: @white;
      border: none;
    }

    input[type=file] {
      background-color: @lightGray;
      border: none;
      box-shadow: none;
    }

    input[type=submit] {
      padding: 3px 7px;
      color: @white;
      cursor: pointer;
      .border-radius(5px);
      background-color: @blue;
      border:0;
    }

    .submit {
      text-align: center;
    }

    .category-form {
      margin-bottom: 20px;

      img {
        cursor: pointer;
        padding: 7px;
      }

      img:hover, img.active {
        opacity: .5;
      }

      img:last-child {
        margin-right:0;
      }

      div {
        display: block;
      }
    }
  }
}

.search {
  text-align: right;

  article:first-child {
    text-transform: uppercase;
    a {
      color: @black;
    }
  }

  article input[type=submit] {
    background-color: @black;
    color: @white;
    text-shadow: none;
    border: 1px solid @black;
    .border-radius(5px);
    font-size: @inputSubmitFontSize;
    padding:0 10px;
  }

  article:last-child {
    margin-top: 36px;
    margin-bottom: 12px;

    input[type=text] {
      height: 19px;
      vertical-align: middle;
      font-size: @inputTextFontSize;
      width: 179px;
      .border-radius(5px);
      border: 1px solid @darkGray;
    }
  }
}

.border-line {
  background-color: @blue;
  height: 5px;
}

.white-line {
  background-color: @white;
  height: 5px;
}

article.categories {
  background-color: @lightGray;

  .categories-filters {
    text-align: right;
    margin-bottom: 35px;
    min-height: 50px;

    a {
      margin-right: 30px;
    }
  }
  @media(max-width: 470px) {
    .categories-filters a {
      margin-right: 5px;
    }
  }
}

/* Twitter section */
.twitter {
  margin: 20px 0 0 0 !important;

  h1 {
    margin-bottom: 0;
  }

  section {
    padding: 40px 30px;
    background-color: @lightGray;
    min-height: 476px;

    article {
      figure {
        margin-top: -4px;
        text-align: right;
        padding: 0;
      }

      a {
        color: @white;
        &.title {
          background-color: @blue;
          padding: 5px 15px;
        }
      }

      .info {
        padding: 0;

        p:first-child {
          text-align: center;
          padding: 15px;
          background-color: @darkGray;
          color: @white;
          margin-bottom: 0;
        }

        p:last-child {
          text-align: right;
          font-size: @dateFontSize;
          font-weight: bold;
          background-color: @white;
          color: @darkGray;
          padding: 5px 15px;
          margin-bottom: 25px;
        }
      }
    }
  }
}

/* Footer */
footer.main {
  background-color: @lightGray;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  overflow-x: hidden;

  .title {
    border-bottom: 5px solid @lightGray;
    color: @darkGray;

    h1 {
      text-transform: uppercase;
      font-size: @titleFontSize;
    }
  }

  .footer-extra {
    padding: 0 22px;
  }

  .statistics-extra {
    background-color: @lightGray;
  }

  .statistics {
    section:first-child {
      color: @darkGray;

      article:first-child {
        text-align: center;
        padding: 30px;
        font-weight: bold;
      }

      article:last-child {
        padding-top: 30px;

        figure {
          display: inline-block;
          text-transform: uppercase;
          text-align: center;

          figurecaption {
            display: block;
            text-align: center;
            font-size: @dateFontSize;
            margin-top: 10px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .social {
    background-color: @darkGray;
    margin: 0;

    h1 {
      font-size: @footerSocialFontSize;
      letter-spacing: 2px;
      color: white;
      font-weight: normal;
    }

    .powered {
      padding: 30px 20px;
      background-color: @lightGray;
      min-height: 175px;

      a {
        color: @darkGray;
        text-decoration: none;
        cursor: pointer;
      }

      figure {
        margin-bottom: 15px;
      }
    }

    .country, .category {
      color: @white;
      height: 176px;
      ul {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          padding: 0;
          margin: 0;
        }
      }
    }

    .country {
      border-left: 1px solid @white;
    }

    .category {
      border-right: 1px solid @white;
      a {
        color: @white;
      }
    }
  }
}

/* Pagination */
.pagination {
  background-color: @lightGray;
  padding: 6px 15px;
  text-align: right;
  font-size: @pagerFontSize;
  width: 100%;

  .page {
    padding: 3px 6px 3px 9px;
    margin: 4px;
    color: @darkGray;
    cursor: pointer;
    .border-radius(5px);

    a {
      color: @darkGray;
      text-decoration: none;

      &:hover {
        color: @white;
      }
    }

    &.current, &:hover {
      background-color: @blue;
      color: @white;
      text-decoration: none;
    }
  }

  .next, .last, .first, .prev {
    display: none;
  }
}

/* Generic Functions */

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.circle(@color, @border, @size, @padding) {
  .border-radius(50%);
  width: @size;
  height: @size;
  border: @border solid @color;
  padding: @padding;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}

/* Show Complaint */

.header-complaint {
  background-color: @darkGray;
  text-transform: uppercase;
  margin-bottom: 20px;

  h1 {
    display: inline-block;
    font-size: @baseFontSize;
    padding: 3px 12px;
    margin: 3px 0;
    color: @white;
    .border-radius(5px);
    background-color: @blue;
  }

  a {
    font-size: @baseFontSize;
    padding: 5px 30px;
    color: @lightGray;
    &:hover {
      cursor: pointer;
    }
  }
}

.show-complaint {
  .row {
    margin: 0;
  }

  .status {
    padding: 0;
  }

  .image {
    padding: 0;
    background-color: @lightGray;
    height: 139px;

    img {
      max-width:  187px;
      max-height: 139px;
    }
  }

  .title {
    background-color: @lightGray;
    color: @darkestGray;
    font-size: @complaintTitleFontSize;
    text-align: center;
    padding: 17px 20px 0 20px;
    font-weight: bold;
    height: 139px;

    a {
      color: @darkestGray;
    }
  }

  .description {
    .text {
      background-color: @darkGray;
      padding: 40px 20px;
      color: @white;
      font-weight: bold;
      text-align: center;
      font-size: @complaintTextFontSize;
      margin-bottom: 10px;

      a {
        color: @white;
      }
    }
  }

  .date {
    margin-bottom: 30px;

    .info {
      background-color: @lightGray;
      color: @darkGray;
      text-align: right;
      padding: 8px 20px 0 5px;
      font-weight: bold;
      font-size: @dateFontSize;
    }
  }

  .state-title {
    text-transform: uppercase;
    font-weight: bold;
    background-color: @lightGray;
    color: @darkGray;
    text-align: right;

    p {
      padding: 5px 10px;
      margin: 0;
    }
  }

  .status-container {
    .state-text {
      padding-top: 4px;

      .state {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 0;
      }
    }
    .open {
      color: @red;

      .box {
        .circle(@red, 6px, 9px, 7px);
      }
    }

    .scaling {
      color: @darkBlue;

      .box {
        .circle(@darkBlue, 6px, 9px, 7px);
      }
    }

    .in_progress {
      color: @yellow;

      .box {
        .circle(@yellow, 6px, 9px, 7px);
      }
    }

    .rejected {
      color: @darkGray;

      .box {
        .circle(@darkGray, 6px, 9px, 7px);
      }
    }

    .closed {
      color: @green;

      .box {
        .circle(@green, 6px, 9px, 7px);
      }
    }
  }
}

/* Map section */
.map {
  #map {
    width:  350px;
    height: 333px;
  }
}

/* Comments section */
.comments {
  background-color: @lightGray;

  h1 {
    background-color: @darkGray;
    text-transform: uppercase;
    color: @white;
    font-size: @baseFontSize;
    padding: 5px 30px;
  }

  p {
    text-align: center;
    padding: 20px 10px;
    font-weight: bold;
    color: @darkGray;
  }

  form {
    padding: 0 20px 30px;
    text-align: center;

    textarea {
      margin-bottom: 10px;
    }

    input[type="submit"] {
      padding: 3px 7px;
      color: @white;
      cursor: pointer;
      .border-radius(5px);
      background-color: @blue;
      border:0;
    }
  }

  .comments-list {
    margin: 22px 22px 0 22px;

    .comment-content {
      margin-bottom: 10px;

      .info {
        text-align: center;
        padding: 15px;
        background-color: @darkGray;
        color: @white;
        margin-bottom: 0;
      }

      .date{
        text-align: right;
        font-size: @dateFontSize;
        font-weight: bold;
        background-color: @white;
        color: @darkGray;
        padding: 5px 15px;
        margin-bottom: 25px;
      }
    }
  }
  .show-button-box, .hide-button-box {
    margin-top: -18px;
    margin-bottom: 20px;
    text-align: right;
  }
}

/* Button style */
.button {
  padding: 3px 7px;
  color: @white;
  cursor: pointer;
  .border-radius(5px);
  background-color: @blue;
  border: 0;

  &:hover {
    color: @white;
    text-decoration: none;
  }
}

.search form {
  display: inline-block;
}

/* Edit denouncement */
.edit_denouncement {
  background-color: @lightGray;
  color: @darkGray;
  padding: 40px 30px;

  label {
    text-transform: uppercase;
  }

  input[type=file] {
    background-color: @lightGray;
    border: none;
    box-shadow: none;
  }

  input[type=submit] {
    padding: 3px 7px;
    color: @white;
    cursor: pointer;
    .border-radius(5px);
    background-color: @blue;
    border:0;
  }

  .submit {
    text-align: center;
  }
}

/* Statistics graph */
.graph {
  display: block;
  clear: both;
  position: relative;
  height: 175px;
  width: 100%;
  margin-bottom: 10px;

  img {
    position: absolute;
    bottom: 74px;
    left: 0%;
  }
  .rule-wrap {
    width: 90%;
    margin: 0 auto;
  }
  .rule {
    width: 12.5%;
    height: 60px;
    background: image-url("rule.png") no-repeat;
    background-position: 0 0;
    background-size: 92% 100%;
    float: left;
    margin-top: 55px;

    p {
      margin-top: 58px;
      margin-left: -3px;
      font-weight: bold;
      font-size: 17px;
      color: @darkGray;
    }
  }
  hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 2px solid @darkGray;
    width: 105%;
    position: absolute;
    bottom: 74px;
    left: -32px;
  }
  .number {
    text-transform: uppercase;
    width: 100%;
    color: @darkGray;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 40px;
    padding-top: 30px;
    padding-left: 20px;
    clear: both;
  }
}

.social_share {
  padding-top: 10px;

  .fb-share-button {
    top: -4px;
  }
}

.empty_denouncement_results {
  background-color: @lightGray;
  text-align: center;
  margin-top: -10px;
  padding: 70px 0;
}

.body-denouncements-index {
  .wrap {
    padding-bottom: 660px;
  }

  footer.main {
    height: 606px;
  }
}

#map-canvas img {
  max-width: none;
}

#map-canvas {
  width:  300px;
  height: 250px;
  float: left;
  margin-bottom: 20px;
}

