<!DOCTYPE html>
<html>
<head>
  <title><%=t :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body-<%= "#{controller_name}-#{action_name}" %>">
  <!-- Banner and search form -->
  <header class="row main">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 logo-header">
          <%= image_tag "logo_header.png", class: "img-responsive", alt: t(:title) %>
        </div>
        <section class="col-xs-9 search">
          <article>
            <%= image_tag "vnzla_18px.png" %>
            Venezuela
            <% if user_signed_in? %>
            | <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
            <% end %>
          </article>
          <article>
            <%= form_tag denouncements_path, :method => 'get' do %>
                <%= text_field_tag :q, params[:q] %>
                <%= submit_tag "Buscar" %>
            <% end %>
          </article>
        </section>
      </div>
    </div>
    <div class="col-xs-12 border-line"></div>
    <div class="col-xs-12 white-line"></div>
  </header>

  <%# Rails flash messages styled for Twitter Bootstrap 3.0 %>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>

  <div class="container content wrap">
    <div class="row">
      <%= yield %>
    </div>
  </div>

  <footer class="row main">
    <% if action_name == "index" && controller_name == "denouncements" %>
      <div class="title">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>Estadisticas</h1>
            </div>
          </div>
        </div>
        <div class="col-xs-12 border-line"></div>
        <div class="col-xs-12 white-line"></div>
      </div>
      <div class="row statistics-extra">
        <div class="container">
        <div class="row statistics">
          <section>
            <article class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              Conoce las estadísticas por categorías de denuncias. Identifica el ícono por categoría y podrás visualizar en la escala la cantidad de denuncias que se han hecho en cada una de ellas.
            </article>
            <article class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="row">
                <figure class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                  <%= image_tag "traffic_75px.png" %>
                  <figurecaption>
                    Tráfico
                  </figurecaption>
                </figure>
                <figure class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                  <%= image_tag "pollution_75px.png" %>
                  <figurecaption>
                    Contaminación
                  </figurecaption>
                </figure>
                <figure class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                  <%= image_tag "theft_75px.png" %>
                  <figurecaption>
                    Robo
                  </figurecaption>
                </figure>
                <figure class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                  <%= image_tag "other_75px.png" %>
                  <figurecaption>
                    Otros
                  </figurecaption>
                </figure>
                <figure class="col-lg-2 col-md-2 col-sm-12 col-xs-6">
                  <%= image_tag "parking_75px.png" %>
                  <figurecaption>
                    Estacionamiento
                  </figurecaption>
                </figure>
                <figure class="col-lg-2 col-md-2 col-sm-12 col-xs-6">
                  <%= image_tag "supply_75px.png" %>
                  <figurecaption>
                    Abastecimiento
                  </figurecaption>
                </figure>
              </div>
            </article>
          </section>
        </div>
      </div>
      <section class="graph col-xs-12">
        <hr>
        <%= image_tag "ico_traffic.png", class: "traffic",
        data: {count: Denouncement.traffic.count, total: Denouncement.all.count},
        alt: Denouncement.traffic.count %>
        <%= image_tag "ico_pollution.png", class: "pollution",
        data: {count: Denouncement.pollution.count, total: Denouncement.all.count},
        alt: Denouncement.pollution.count %>
        <%= image_tag "ico_theft.png", class: "theft",
        data: {count: Denouncement.theft.count, total: Denouncement.all.count},
        alt: Denouncement.theft.count %>
        <%= image_tag "ico_other.png", class: "other",
        data: {count: Denouncement.other.count, total: Denouncement.all.count},
        alt: Denouncement.other.count %>
        <%= image_tag "ico_parking.png", class: "parking",
        data: {count: Denouncement.parking.count, total: Denouncement.all.count},
        alt: Denouncement.parking.count %>
        <%= image_tag "ico_supply.png", class: "supply",
        data: {count: Denouncement.supply.count, total: Denouncement.all.count},
        alt: Denouncement.supply.count %>
        <div class="rule-wrap">
          <div class="rule">
            <p>0</p>
          </div>
          <div class="rule">
            <p><%= ((Denouncement.all.count * 20) / 100).ceil %></p>
          </div>
          <div class="rule">
            <p><%= ((Denouncement.all.count * 30) / 100).ceil %></p>
          </div>
          <div class="rule">
            <p><%= ((Denouncement.all.count * 40) / 100).ceil %></p>
          </div>
          <div class="rule">
            <p><%= ((Denouncement.all.count * 50) / 100).ceil %></p>
          </div>
          <div class="rule">
            <p><%= ((Denouncement.all.count * 60) / 100).ceil %></p>
          </div>
          <div class="rule">
            <p><%= ((Denouncement.all.count * 70) / 100).ceil %></p>
          </div>
          <div class="rule">
            <p><%= ((Denouncement.all.count * 90) / 100).ceil %></p>
          </div>
        </div>
        <p class="number">Número de denuncias</p>
      </section>
    </div>
    <% end %>
    <div class="col-xs-12 white-line"></div>
    <div class="row social">
    <div class="container">
      <div class="row footer-extra">
        <section>
          <article class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 powered">
              <figure>
                <%= image_tag "logo_footer.png" %>
              </figure>
              <a>Powered by Divux Systems</a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 follow">
              <h1>Siguenos en:</h1>
              <div class="row">
                <figure class="col-xs-4">
                  <a href="https://www.facebook.com/pages/Mis-denuncias/105265982866249" target="_blank">
                    <%= image_tag "bt_fb38px.png" %>
                  </a>
                </figure>
                <figure class="col-xs-4">
                  <a href="https://twitter.com/misdenuncias" target="_blank">
                    <%= image_tag "bt_twt38px.png" %>
                  </a>
                </figure>
                <figure class="col-xs-4">
                  <a href="http://www.youtube.com/user/canalmisdenuncias" target="_blank">
                    <%= image_tag "bt_ytb38px.png" %>
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 country">
              <h1>Paises</h1>
              <ul>
                <li>Venezuela</li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 category">
              <h1>Categorias</h1>
              <ul>
                <% Category.all.each do |c| %>
                  <li><%= link_to t("category.kinds.#{c.name}").capitalize, denouncements_path(c: c.name) %></li>
                <% end %>
              </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 complaint">
              <h1>Denunciar Estadisticas</h1>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</footer>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true" type="text/javascript"></script>
</body>
</html>
